#ect-main tr #mem-location table tr #mem-content table tr td p {
	font-family: "Times New Roman", Times, serif;
	text-transform: capitalize;
}
#ect-main tr #mem-location table tr #mem-content table tr td p {
	font-family: "Times New Roman", Times, serif;
	color: #000;
}
#ect-main tr #mem-location table tr td .page_title {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr #mem-location table tr td table tr td {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #25476C;
}
#ect-main tr #mem-location {
}
#ect-main tr #mem-location table tr td table tr td {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
}
#ect-main tr td table tr td table tr #mem-location {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #25476C;
}
#ect-main tr td table tr td table tr #mem-location {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr #mem-content-mission p {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr #mem-content-list p {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr #mem-content-list-O p {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr #mem-content-list-M p {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #Fan div {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #Fan div p {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #lionel div p {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #lionel div p {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}
#ect-main tr td table tr td table tr td table tr #lionel div {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #xu div p {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #xu div p {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #xu {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #li {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #li div p {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #susan div {
	font-family: "Times New Roman", Times, serif;
	text-align: left;
}
#ect-main tr td table tr td table tr td table tr #susan div div p {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #gottlob div {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #gottlob div div p {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #Fan {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #wei {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #wei div p {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #scott {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #scott div p {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #zhou {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #zhou div p {
	font-weight: bold;
}
#ect-main tr td table tr td table tr td table tr #yanhong {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #yanhong div p {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td #mem-content-list {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td #mem-content-list tr td a {
	font-family: "Times New Roman", Times, serif;
	color: #00C;
}
#ect-main tr td table tr td table tr td table {
	color: #03F;
}
#ect-main tr td table tr td table tr td table tr #Fan div div {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr td table tr #AC {
	font-family: "Times New Roman", Times, serif;
	color: #009;
}
#ect-main tr td table tr td table tr td table tr td table tr #NM a {
	color: #03F;
}
#ect-main tr td table tr td table tr td #mem-content-list tr #AC {
	color: #039;
}
#ect-main tr td table tr td table tr td table tr #AC {
	color: #003;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr #newsxy {
	font-family: "Times New Roman", Times, serif;
}
