#ect-main tr td table tr #news {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}
#ect-main tr td table tr #news #Ntitle tr td {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: bold;
}
#ect-main tr td table tr #news p {
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
}
#ect-main tr td table tr #news #n0913d {
	font-family: "Times New Roman", Times, serif;
	font-size: 17px;
}
