#ect-main tr td table tr td table tr #P13 {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr #P13 p {
	font-style: italic;
}
#ect-main tr td table tr td table tr #P13 p {
	font-style: normal;
}
#ect-main tr td table tr td table tr #P13 p {
	font-style: italic;
}
#ect-main tr td table tr td table tr #P13 p {
	font-style: normal;
}
#ect-main tr td table tr td table tr #P13 p {
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #Pgbt {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
#ect-main tr td table tr td table tr td table tr #Pgby {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}
#ect-main tr td table tr td table tr td table {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr td table tr #Pgbt2 {
	font-style: italic;
}
#ect-main tr td table tr td table tr td table tr #AY {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr td table tr td table tr #P13 #BDAt tr td {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}
#ect-main tr td table tr td table tr td table tr #AY2 {
	font-weight: bold;
}
#ect-main tr td table tr td table tr td table tr #AY6 {
	font-weight: bold;
}
#ect-main tr td table tr td table tr #P5 p {
	font-style: italic;
}
#ect-main tr td table tr td table tr #P5 p {
}
#ect-main tr td table tr td table tr #P5 p {
	font-family: "Times New Roman", Times, serif;
}
