@charset "ISO-8859-1";
#ect-footer div a {
	font-size: 18px;
}
#ect-footer div a {
	font-size: 10px;
}#ect-footer div table tr td {
	border-top-width: thin;
	border-bottom-width: thin;
	border-top-style: none;
	border-bottom-style: solid;
	border-top-color: #EDEDED;
	border-bottom-color: #25476C;
}
#ect-footer div a {
	font-size: 12px;
}
#ect-footer div {
	font-size: 12px;
	color: #FFF;
}


#ect-main tr #ect-content table tr {
}
#ect-main tr #ect-content table tr td {
}
