#ect-main tr #ect-content table tr td .page_title {
	font-family: "Times New Roman", Times, serif;
}
#ect-header tr td table tr td table tr td p {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	color: #e3e3e3;
}
#ect-main tr td #ect-toc tr td .plain {
	color: #FFF;
	font-size: 12px;
	text-decoration: blink;
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
}
#ect-main tr #ect-content table tr td .page_title {
}
#ect-main tr #ect-content table tr td {
	font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	text-align: left;
}

#ect-main tr #ect-content table tr td .page_title {
	font-family: "Times New Roman", Times, serif;
}
#ect-main tr #ect-content table tr td .page_title {
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	text-align: justify;
}
#ect-main tr #ect-content table tr td .title {
	font-size: 18px;
	font-weight: bold;
}
