@charset "ISO-8859-1";
#ect-main tr #ect-content table tr td p a {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
}
#ect-main tr #ect-content table tr td p {
	font-size: 12px;
}
#ect-main tr #ect-content table tr td p {
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
	background-color: #FFF;
}
