#ect-header tr td table tr td table tr td {
	text-align: left;
}
#ect-main tr td #ect-toc tr td .plain {
	color: #FFF;
}
#ect-main tr td #ect-toc tr td .plain {
	color: #FFF;
}
#ect-main tr #ect-content table tr td p {
	font-size: 14px;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
}
