#ect-header tr td table tr td a {
	color: #FFF;
}
#ect-header tr td table tr td table tr td #title tr td {
	font-weight: bold;
	color: #25476C;
	font-family: "Times New Roman", Times, serif;
}
#ect-header tr td table tr td table tr td #tcontent tr td {
	font-style: italic;
	color: #25476C;
	font-weight: bold;
}
#ect-header tr td table tr td table tr td #title4 tr td {
	font-weight: bold;
	color: #25476C;
}
#ect-header tr td table tr td table tr td #title2 tr td {
	font-weight: bold;
	color: #25476C;
}
